{% extends 'base.html.twig' %}

{% block body %}
<div class="hero__creators">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6">
                <div class="space-y-20">
                    <h1>Les Créateurs</h1>
                    <p class="hero__text">
                        Je fais de l'art dans le simple but de vous donner quelque chose d'agréable à regarder pendant quelques secondes.
                    </p>
                </div>
            </div>
            <div class="col-lg-auto">
                <a class="btn btn-dark" href="/register"> 
                    Soyer un de nos créateurs                
                </a>
            </div>
        </div>

    </div>
</div>
<div class="container">
    <div class="row">
        {% for user in users %}
            
        {% if user.isverified == true %}
            
        
        <div class="col-lg-3">
            <div class="creator_item creator_card space-y-10 is_big">
                <div class="avatars flex-column space-y-10">
                    <div class="media has_border">
                        {% if user.photo %}
                        <a href="Profile.html">
                            <img src="{{asset('uploads/user_photos/' ~ user.photo)}}" alt="Avatar" class="avatar avatar-md">
                        </a>
                        {% else %}
                        <a href="Profile.html">
                            <img src="assets/img/avatars/avatar_1.png" alt="Avatar" class="avatar avatar-md">
                        </a>    
                        {% endif %}
                        
                       
                    </div>
                    <div class="text-center">
                        <a >
                            <p class="avatars_name large color_black"><i class="ri-user-3-line"></i>  {{user.username}}</p>
                        </a>
                        <span class="sales color_text">{{user.points}}  <i class="ri-money-dollar-circle-line"></i></span>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}

    </div>
</div>

{% endblock %}